body {
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 12px;
	color: black;
	background-image: url('../images/main-bg.jpg');
	background-color: black;
	background-position: center;
}

div.container {
	width: 960px;
	min-height: 500px;
	height: auto;
	background-color: white;
	margin: 0 auto;
	margin-top: 50px;
	box-shadow: 0px 0px 40px #000000;
}

div.header {
	width: 100%;
	height: 210px;
	background-image: url('../images/logo.jpg');
	background-color: grey;
}

div.menu {
	width: 100%;
	height: 55px;
	background-image: url('../images/menu-bg.jpg');
	background-color: black;
	margin-bottom: 0px;
	text-align: center;
	box-shadow: 0px 0px 16px #000000;
}

div.menu-item {
	width: 180px;
	height: 25px;
	background-color: #404040;
	display: inline-block;
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 700;
	padding-top: 10px;
	line-height: 18px;
	color: white;
	border-radius: 7px;
	-moz-border-radius: 7px;
	box-shadow: 0px 0px 9px #000000 inset;
	clear: both;
}

div.menu-item:hover {
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #07BB85),color-stop(1, #278C8C));
	background-image: -o-linear-gradient(bottom, #07BB85 0%, #278C8C 100%);
	background-image: -moz-linear-gradient(bottom, #07BB85 0%, #278C8C 100%);
	background-image: -webkit-linear-gradient(bottom, #07BB85 0%, #278C8C 100%);
	background-image: -ms-linear-gradient(bottom, #07BB85 0%, #278C8C 100%);
	background-image: linear-gradient(to bottom, #07BB85 0%, #278C8C 100%);
	
}

div.content {
	width: 95%;
	height: auto;
	min-height: 400px;
	margin: 0 auto;
	margin-top: 40px;
}

div.footer {
	width: 100%;
	height: 155px;
	background-image: url('../images/footer-bg.jpg');
	background-color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

div.footer-item {
	width: 459px;
	height: 120px;
	display: inline-block;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	float: left;
	line-height: 18px;
}

div.separator {
	width: 1px;
	height: 120px;
	display: inline-block;
	background-color: #212121;
	float: left;
	margin-top: 25px;
}

img.menu {
	margin-left: 10px;
	float: left;
}

img.footer {
	margin-right: 10px;
	float: left;
}

h1 {
	font-size: 32px;
	color: black;
	font-weight: 100;
}

h2 {
	font-size: 14px;
	font-weight: 700;
	color: white;
	margin-left: 20px;
}

hr {
	margin-top: -10px;
	height: 8px;
	background-image: url('../images/line.jpg');
	border: 0px;
}

a.mail {
	color: white;
	text-decoration: none;
}

a.mail:hover {
	color: #00c785;
}

p.content {
	font-size: 14px;
}

p.footer {
	font-size: 12px;
	color: white;
	margin-left: 20px;
}